.params li {
    padding-top: 4px;
}

.stat {
    display: grid;
    margin: 4px;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;

    margin-bottom: auto;

    div:nth-child(even) {
        margin-bottom: auto;
    }
}

.stat div:first-of-type {
    font-weight: 600;
}


.stat:nth-child(odd) {
    background-color: var(--bluegray-100);
}

.field {
    //margin-bottom: 1.5rem;
}

.stats {
    @media (max-width: 425px) {
        display: flex !important;
        flex-direction: column !important;

        .stat {}
    }
}

.edit-buttons {
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.copied-indicator {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.copied-indicator-fade {
    opacity: 0;
}

.rangeSlider {
    input {
        width: 70px;
    }
}