$color-link-2: #ece4d9;
$color-text-main: #141414;
$color-bg-page: #2a2928;
$color-border-1: #3f3e3b;
$color-bg-4: #2e2e2e;
$image-bg-page: url(../img/bg_dark.png);

:root {
    --color-link-1: #ece4d9;
    --color-text-main: #141414;
    --color-bg-page: #2a2928;
    --color-border-1: #3f3e3b;
    --color-bg-1: #2e2e2e;
    --image-bg-page: url(../img/bg_dark.png);
    //--font-family-sans-serif: #{meta.inspect($font-family-sans-serif)};
}